[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
redis = "*"
kafka-python = "*"
celery = "*"
tweepy = "*"
sklearn = "*"
hazm = "*"
elasticsearch = "*"
cassandra-driver = "*"

[dev-packages]

[requires]
python_version = "3.9"
